html{
   font: 1.1em sans-serif;

}
body{
    background-image:url("../../model/data/icons/fondecran.jpg");
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #1BE81B;
    background: #282828;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container img{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
label {
    color: #1BE81B;

}
/* Full-width inputs */
input[type=text], input[type=password],input[type=Email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #1BE81B;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: green;
    color: white;
    border: 1px solid white;
}
